@import './_variables.scss';

* {
  box-sizing: border-box;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
}

.bg-blue {
  background-color: $blue;
}

.bg-grey {
  background-color: $grey;
}

.bg-white {
  background-color: $white;
}